<!doctype html>
<html lang="en" ng-app="myApp">
    <head>

        <meta charset="utf-8">
        <title>SAD Demo</title>
        <base href="/">
        <link rel='stylesheet', href='/css/app.css'>  
        <link rel="stylesheet" href="css/semantic.min.css">  
    </head>
    <body ng-controller="AppCtrl">
        <h2>Hi</h2>
        <h5>This is SAD Demo!</h5>
        <div class="ui horizontal buttons">
            <a href="/partial1"><div class="ui button">view1</div></a>
            <a href="/partial2"><div class="ui button">view2</div></a>
            <a href="/login"><div class="ui button">login</div></a>
            <a href="/home"><div class="ui button">home</div></a>
        </div>
        <section ui-view></section>
    <script src='../js/lib/angular/angular.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.19/angular-route.min.js'></script>
    <script src="../js/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src='../js/app.js'></script>
    <script src='../js/services.js'></script>
    <script src='../js/controllers.js'></script>
    <script src='../js/filters.js'></script>
    <script src='../js/directives.js'></script>
    </body>
</html>
