<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>This is great</h1>
			<p>Welcome to templating using EJS</p>
			<div class="field">
        		<label>Username</label>
        		<div class="ui left icon input">
          			<input placeholder="Username" type="text">
        		</div>
     		 </div>
			<div class="field">
       			<label>Password</label>
        		<div class="ui left icon input">
          		<input placeholder="Password" type="password">
        		</div>
      		</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>