<div class="ui center aligned segment">
  	<div class="field">
  		<label>Account</label>
  		<input placeholder="e-mail" type="text">
	</div>

	<div class="field">
		<label>Password</label>
		<div class="ui left icon input">
  			<i class="lock icon"></i>
  			<input type="password">
		</div>
  	</div>
  <!-- <div class="ui horizontal divider"></div> -->
	<!-- <div class="ui buttons"> -->
	<a href="/login"><div class="blue ui button">Log in</div></a>
	<!-- <div class="or"></div> -->
	<!-- <a href="/adduser"><div class="ui positive button">Sign Up</div></a> -->
</div>